@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #001529;
    --active-color: #1677ff;
    --black-color: #020202;
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif ; 
    transition: all ease-in-out .3s !important;

}

body {
}

.ant-layout-sider-children {
    box-shadow: 5px 10px;
}

.ant-layout-sider-children > ul {
    font-weight: 500;
    font-size: .95rem;  
}


::-webkit-scrollbar {
    display: none;
  }

